
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2025-06-23 11:06:31.558679');
INSERT INTO django_migrations VALUES(2,'contenttypes','0002_remove_content_type_name','2025-06-23 11:06:31.584250');
INSERT INTO django_migrations VALUES(3,'auth','0001_initial','2025-06-23 11:06:43.058521');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'contenttypes','contenttype');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,2,'add_permission','Can add permission');
INSERT INTO auth_permission VALUES(2,2,'change_permission','Can change permission');
INSERT INTO auth_permission VALUES(3,2,'delete_permission','Can delete permission');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "custom_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "customuser_id" bigint NOT NULL REFERENCES "custom_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "custom_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "customuser_id" bigint NOT NULL REFERENCES "custom_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "mentalhealth_relaxationlog" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "exercise_type" varchar(100) NOT NULL, "duration_seconds" integer unsigned NOT NULL CHECK ("duration_seconds" >= 0), "timestamp" datetime NOT NULL, "user_id" bigint NOT NULL REFERENCES "custom_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('kenzrvhlhnyiom5e05m8wsob1yythevs','.eJxVjMsOwiAQRf-FtSFAecy4dO83EDoMUjU0Ke3K-O_apAvd3nPOfYmYtrXGrfMSpyzOQovT7zYmenDbQb6ndpslzW1dplHuijxol9c58_NyuH8HNfX6rQcgQFAWoHBBNJqZfGYdFHCxGSEXldgMFEzxAQwG1p6sU46MR0fi_QHirjel:1uTfvM:uH-8qwzVn7EC0SmRV0aRfcxpDZ-DuPIuVWD2qJcbHmA','2025-07-07 12:05:20.403574');
INSERT INTO django_session VALUES('x1sygoa18r5ptgqo1enh6wmhlo637m64','.eJxVjEEOwiAQAP_C2ZCFgpQevfsGAuxiUQOmtInG-HdD0oNeZybzZs5v6-y2RovLyCYmB3b4hcHHG5Vu8OrLpfJYy7rkwHvCd9v4uSLdT3v7N5h9m_vXCG21hYSBkgWvgAwqZY0GP0AYEoC2o9FijAGTsAKNkUdQUsYopBZ92qi1XIuj5yMvLzbB5wt7aj4b:1uUF0D:r4MaoPyjJ-wysHBVnwTZiXddyCOjSFZxo0CjL-5HIQI','2025-07-09 01:32:41.115212');
INSERT INTO django_session VALUES('gc7t88hjtu7quwhggljn7fb1jtj40zbe','.eJxVjMEOwiAQBf-FsyFsCwV69O43EFgWixowpU00xn_XJj3o9c28eTHn12Vya6PZ5chG1ml2-B2DxyuVjcSLL-fKsZZlzoFvCt9p46ca6Xbc3b_A5Nv0fUuVwCJ1nbEDYiKrDIKiBACWlJaAWqiQeiVSb4O1wXiEKI0EDX6IYos2ai3X4uhxz_OTjeL9AahTPvc:1uV6CX:Cig9M-ALpsPzIasY5WuPoC4fCYRTbNaHFEH7US4es8Q','2025-07-11 10:20:57.296225');
CREATE TABLE IF NOT EXISTS "mentalhealth_dassresult" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "date_taken" datetime NOT NULL, "depression_score" integer NOT NULL, "anxiety_score" integer NOT NULL, "stress_score" integer NOT NULL, "depression_severity" varchar(50) NOT NULL, "anxiety_severity" varchar(50) NOT NULL, "answers" text NOT NULL CHECK ((JSON_VALID("answers") OR "answers" IS NULL)), "user_id" bigint NOT NULL REFERENCES "custom_user" ("id") DEFERRABLE INITIALLY DEFERRED, "stress_severity" varchar(50) NOT NULL);
INSERT INTO mentalhealth_dassresult VALUES(1,'2025-06-24 14:52:36.238566',8,10,4,'Normal range','Moderate anxiety','[1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]',23,'Normal range');
INSERT INTO mentalhealth_dassresult VALUES(2,'2025-06-24 14:53:28.747504',42,42,42,'Extremely severe depression','Extremely severe anxiety','[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]',23,'Extremely severe stress');
INSERT INTO mentalhealth_dassresult VALUES(3,'2025-06-24 15:14:52.262172',14,14,14,'Moderate depression','Moderate anxiety','[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]',23,'Normal range');
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "custom_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "custom_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "first_name" varchar(150) NOT NULL, "last_name" varchar(150) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "email" varchar(254) NOT NULL UNIQUE, "email_verified" bool NOT NULL, "verification_token" varchar(64) NULL, "student_id" varchar(20) NOT NULL UNIQUE, "age" integer unsigned NULL CHECK ("age" >= 0), "full_name" varchar(255) NOT NULL, "gender" varchar(20) NOT NULL, "college" varchar(10) NOT NULL, "program" varchar(255) NOT NULL, "year_level" varchar(2) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "profile_picture" varchar(100) NULL);
INSERT INTO custom_user VALUES(1,'pbkdf2_sha256$870000$2ydTX24WPu8PLW5cdK8uAc$GBRDzcOzF0JL/nHMzluSa2MAuTwumhdYBf8rnva+Z4U=','2025-09-02 04:25:42.891435',1,'hansa','','',1,1,'2025-06-23 11:10:45.334025','fdavedamond@gmail.com',1,'','admin000',0,'Admin User','Prefer not to say','CBA','Administration','4','2025-06-23 11:10:46.329288','2025-06-23 11:10:46.329288',NULL);
INSERT INTO custom_user VALUES(2,'pbkdf2_sha256$870000$GQQqsgY2zt0mOB4yONiVWe$u211y6E6CmxB83dMAGcOtkSiXc21raKJyeISqnqzX6c=','2025-06-24 03:44:05.146663',0,'Tarkov','','',0,1,'2025-06-24 03:44:03.288434','tarkov@clsu2.edu.ph',0,'','22-1726',21,'Tarkov','Male','COF','Bachelor of Science in Fisheries','2','2025-06-24 03:44:05.105560','2025-06-24 03:44:05.105560',NULL);
INSERT INTO custom_user VALUES(3,'pbkdf2_sha256$870000$X7vZCHhDIOrQE1ZPARNib0$voWWU/m7GSrj6wt2R81+kj9cMUebqFpxdnRQ/bz+GM4=',NULL,0,'Otto','','',0,0,'2025-06-24 04:01:27.796587','otto.gunshe@clsu2.edu.ph',0,'','23-1726',21,'Otto','Male','COF','Bachelor of Science in Fisheries','1','2025-06-24 04:01:29.788225','2025-06-24 04:01:29.804553',NULL);
CREATE TABLE IF NOT EXISTS "mentalhealth_report" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "description" text NOT NULL, "report_type" varchar(20) NOT NULL, "status" varchar(20) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "counselor_id" bigint NOT NULL REFERENCES "mentalhealth_counselor" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NULL REFERENCES "custom_user" ("id") DEFERRABLE INITIALLY DEFERRED, "appointment_id" bigint NULL REFERENCES "mentalhealth_appointment" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO mentalhealth_report VALUES(2,'Failing Grade Student','As the student explains, the studnet is failing due to personal and intra-personal problems.','assessment','completed','2025-07-16 04:24:53.325342','2025-07-16 04:24:53.325342',24,45,NULL);
INSERT INTO mentalhealth_report VALUES(6,'Anxiety','Anxiety','session','completed','2025-07-16 04:50:22.490289','2025-07-16 04:50:22.490289',25,23,NULL);
INSERT INTO mentalhealth_report VALUES(7,'Anxiety','Student Anxious','assessment','archived','2025-07-16 04:52:08.253692','2025-07-16 04:52:08.253692',25,23,NULL);
CREATE TABLE IF NOT EXISTS "mentalhealth_counselor" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "unit" varchar(100) NOT NULL, "rank" varchar(100) NOT NULL, "bio" text NOT NULL, "image" varchar(100) NULL, "available_days" text NOT NULL CHECK ((JSON_VALID("available_days") OR "available_days" IS NULL)), "is_active" bool NOT NULL, "email" varchar(254) NULL, "user_id" bigint NULL UNIQUE REFERENCES "custom_user" ("id") DEFERRABLE INITIALLY DEFERRED, "available_end_time" time NULL, "available_start_time" time NULL, "day_schedules" text NOT NULL CHECK ((JSON_VALID("day_schedules") OR "day_schedules" IS NULL)));
INSERT INTO mentalhealth_counselor VALUES(1,'Melbhert Rivera','Career Guidance Unit','INSTRUCTOR II','','counselors/pugi-prof.jpg','["Monday", "Wednesday", "Friday"]',0,'rmelbhert.rivera@clsu2.edu.ph',NULL,NULL,NULL,'{}');
INSERT INTO mentalhealth_counselor VALUES(2,'John Santos','Student Wellness Center','Assistant Professor IV','','counselors/Haha_Jonathan.jpg','["Tuesday", "Thursday"]',0,'john.santos@clsu2.edu.ph',NULL,NULL,NULL,'{}');
INSERT INTO mentalhealth_counselor VALUES(3,'Solaire of Astora','General Counseling','Professor V','','counselors/Solaire.png','[]',0,'solaire@clsu2.edu.ph',NULL,NULL,NULL,'{}');
CREATE TABLE IF NOT EXISTS "mentalhealth_feedback" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "overall_rating" integer NULL, "professionalism_rating" integer NULL, "helpfulness_rating" integer NULL, "recommend_rating" integer NULL, "positive_feedback" text NOT NULL, "improvement_feedback" text NOT NULL, "additional_comments" text NOT NULL, "submitted_at" datetime NOT NULL, "skipped" bool NOT NULL, "appointment_id" bigint NOT NULL REFERENCES "mentalhealth_appointment" ("id") DEFERRABLE INITIALLY DEFERRED, "counselor_id" bigint NOT NULL REFERENCES "mentalhealth_counselor" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "custom_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO mentalhealth_feedback VALUES(1,4,5,5,5,'dasdawd','dsadawd','dasdwad','2025-07-19 03:09:50.849344',0,46,24,50);
INSERT INTO mentalhealth_feedback VALUES(2,4,4,4,5,'Great session, very helpful!','Could be a bit more punctual','Overall excellent experience','2025-07-19 03:13:58.602123',0,22,1,1);
INSERT INTO mentalhealth_feedback VALUES(3,5,5,5,5,'I like how approachable they are','N/A','dawdwad','2025-07-19 03:37:17.292416',0,48,24,23);
CREATE TABLE IF NOT EXISTS "mentalhealth_appointment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "date" date NOT NULL, "time" time NOT NULL, "services" text NOT NULL CHECK ((JSON_VALID("services") OR "services" IS NULL)), "reason" text NOT NULL, "phone" varchar(20) NOT NULL, "course_section" varchar(100) NOT NULL, "status" varchar(20) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "cancellation_deadline" datetime NULL, "cancellation_reason" text NOT NULL, "cancellation_token" varchar(64) NULL UNIQUE, "user_id" bigint NOT NULL REFERENCES "custom_user" ("id") DEFERRABLE INITIALLY DEFERRED, "counselor_id" bigint NOT NULL REFERENCES "mentalhealth_counselor" ("id") DEFERRABLE INITIALLY DEFERRED, "dass_result_id" bigint NULL REFERENCES "mentalhealth_dassresult" ("id") DEFERRABLE INITIALLY DEFERRED, "cancelled_at" datetime NULL, "notes" text NULL, "session_type" varchar(20) NOT NULL, "video_call_url" varchar(200) NULL);
INSERT INTO mentalhealth_appointment VALUES(1,'2025-06-26','13:00:00','["Counseling"]','Dada','099822978200','BSIT 3-1','pending','2025-06-25 13:53:56.296947','2025-06-28 01:53:37.836707',NULL,'',NULL,23,3,7,NULL,NULL,'face_to_face',NULL);
INSERT INTO mentalhealth_appointment VALUES(2,'2025-06-25','11:00:00','["Counseling"]','dadawd','099822978200','BSIT 3-1','pending','2025-06-25 15:26:45.990268','2025-06-28 01:53:37.845675',NULL,'',NULL,23,3,11,NULL,NULL,'face_to_face',NULL);
INSERT INTO mentalhealth_appointment VALUES(3,'2025-06-27','16:00:00','["Consultation"]','dawda','099822978200','BSIT 3-1','pending','2025-06-25 15:29:05.889945','2025-06-28 01:53:37.845675',NULL,'',NULL,23,3,12,NULL,NULL,'face_to_face',NULL);
CREATE TABLE IF NOT EXISTS "mentalhealth_livesession" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "session_type" varchar(20) NOT NULL, "status" varchar(20) NOT NULL, "room_id" varchar(100) NOT NULL UNIQUE, "session_token" varchar(255) NOT NULL, "meeting_url" varchar(200) NOT NULL, "scheduled_start" datetime NOT NULL, "scheduled_end" datetime NOT NULL, "actual_start" datetime NULL, "actual_end" datetime NULL, "notes" text NOT NULL, "recording_url" varchar(200) NOT NULL, "session_data" text NOT NULL CHECK ((JSON_VALID("session_data") OR "session_data" IS NULL)), "is_recorded" bool NOT NULL, "consent_given" bool NOT NULL, "privacy_level" varchar(20) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "appointment_id" bigint NOT NULL UNIQUE REFERENCES "mentalhealth_appointment" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO mentalhealth_livesession VALUES(1,'video','scheduled','appointment_51','','','2025-07-22 09:00:00','2025-07-22 10:00:00',NULL,NULL,'','','{}',0,0,'private','2025-07-19 11:39:07.920298','2025-07-19 11:39:07.920298',51);
INSERT INTO mentalhealth_livesession VALUES(2,'video','scheduled','appointment_52','','','2025-07-22 09:00:00','2025-07-22 10:00:00',NULL,NULL,'','','{}',0,0,'private','2025-07-20 00:54:48.389939','2025-07-20 00:54:48.407952',52);
INSERT INTO mentalhealth_livesession VALUES(3,'video','scheduled','appointment_53','','','2025-07-21 09:00:00','2025-07-21 10:00:00',NULL,NULL,'','','{}',0,0,'private','2025-07-20 01:47:49.124765','2025-07-20 01:47:49.138797',53);
CREATE TABLE IF NOT EXISTS "mentalhealth_sessionmessage" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "message" text NOT NULL, "message_type" varchar(20) NOT NULL, "timestamp" datetime NOT NULL, "sender_id" bigint NOT NULL REFERENCES "custom_user" ("id") DEFERRABLE INITIALLY DEFERRED, "session_id" bigint NOT NULL REFERENCES "mentalhealth_livesession" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO mentalhealth_sessionmessage VALUES(1,'Hello','text','2025-07-19 13:54:18.854909',23,1);
INSERT INTO mentalhealth_sessionmessage VALUES(2,'Hi','text','2025-07-19 13:54:22.460004',42,1);
INSERT INTO mentalhealth_sessionmessage VALUES(3,'Nigga','text','2025-07-19 13:56:35.393198',42,1);
CREATE TABLE IF NOT EXISTS "mentalhealth_sessionparticipant" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "role" varchar(20) NOT NULL, "joined_at" datetime NOT NULL, "left_at" datetime NULL, "connection_quality" varchar(20) NOT NULL, "session_id" bigint NOT NULL REFERENCES "mentalhealth_livesession" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "custom_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO mentalhealth_sessionparticipant VALUES(1,'student','2025-09-14 00:52:09.908070','2025-09-14 00:52:31.228822','',6,50);
INSERT INTO mentalhealth_sessionparticipant VALUES(2,'counselor','2025-09-14 00:52:16.724513','2025-09-14 00:52:27.430630','',6,42);
CREATE TABLE IF NOT EXISTS "mentalhealth_notification" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "message" text NOT NULL, "type" varchar(20) NOT NULL, "url" varchar(255) NULL, "created_at" datetime NOT NULL, "read" bool NOT NULL, "dismissed" bool NOT NULL, "user_id" bigint NOT NULL REFERENCES "custom_user" ("id") DEFERRABLE INITIALLY DEFERRED, "priority" varchar(10) NOT NULL, "category" varchar(20) NOT NULL, "action_url" varchar(200) NULL, "action_text" varchar(50) NULL, "expires_at" datetime NULL, "metadata" text NOT NULL CHECK ((JSON_VALID("metadata") OR "metadata" IS NULL)));
INSERT INTO mentalhealth_notification VALUES(1,'Your appointment with Dr. Smith has been confirmed for tomorrow at 2:00 PM.','appointment','/appointments/1/','2025-07-19 00:03:21.537266',0,1,1,'normal','general',NULL,NULL,NULL,'{}');
INSERT INTO mentalhealth_notification VALUES(2,'New DASS-21 assessment results are available. Click to view your report.','report','/user-profile/','2025-07-18 22:03:21.557538',0,1,1,'normal','general',NULL,NULL,NULL,'{}');
INSERT INTO mentalhealth_notification VALUES(3,'Welcome to CalmConnect! Your account has been successfully created.','general','/','2025-07-18 20:03:21.569633',0,1,1,'normal','general',NULL,NULL,NULL,'{}');
INSERT INTO sqlite_sequence VALUES('django_migrations',58);
INSERT INTO sqlite_sequence VALUES('django_content_type',16);
INSERT INTO sqlite_sequence VALUES('auth_permission',64);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE UNIQUE INDEX "custom_user_groups_customuser_id_group_id_ea14f886_uniq" ON "custom_user_groups" ("customuser_id", "group_id");
CREATE INDEX "custom_user_groups_customuser_id_8e3d0338" ON "custom_user_groups" ("customuser_id");
CREATE INDEX "custom_user_groups_group_id_02874f21" ON "custom_user_groups" ("group_id");
CREATE UNIQUE INDEX "custom_user_user_permissions_customuser_id_permission_id_f9232336_uniq" ON "custom_user_user_permissions" ("customuser_id", "permission_id");
CREATE INDEX "custom_user_user_permissions_customuser_id_ec2da4cb" ON "custom_user_user_permissions" ("customuser_id");
CREATE INDEX "custom_user_user_permissions_permission_id_f82b5e3f" ON "custom_user_user_permissions" ("permission_id");
CREATE INDEX "mentalhealth_relaxationlog_user_id_67408ce8" ON "mentalhealth_relaxationlog" ("user_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "mentalhealth_dassresult_user_id_894d8140" ON "mentalhealth_dassresult" ("user_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE INDEX "mentalhealth_report_counselor_id_afeeb10e" ON "mentalhealth_report" ("counselor_id");
CREATE INDEX "mentalhealth_report_user_id_3b752968" ON "mentalhealth_report" ("user_id");
CREATE INDEX "mentalhealth_report_appointment_id_680e9f34" ON "mentalhealth_report" ("appointment_id");
CREATE UNIQUE INDEX "mentalhealth_feedback_appointment_id_user_id_8815198c_uniq" ON "mentalhealth_feedback" ("appointment_id", "user_id");
CREATE INDEX "mentalhealth_feedback_appointment_id_88ddd43a" ON "mentalhealth_feedback" ("appointment_id");
CREATE INDEX "mentalhealth_feedback_counselor_id_68ca5b30" ON "mentalhealth_feedback" ("counselor_id");
CREATE INDEX "mentalhealth_feedback_user_id_f4f53b9f" ON "mentalhealth_feedback" ("user_id");
CREATE INDEX "mentalhealth_appointment_user_id_411474ed" ON "mentalhealth_appointment" ("user_id");
CREATE INDEX "mentalhealth_appointment_counselor_id_611341d2" ON "mentalhealth_appointment" ("counselor_id");
CREATE INDEX "mentalhealth_appointment_dass_result_id_0904d2af" ON "mentalhealth_appointment" ("dass_result_id");
CREATE INDEX "mentalhealth_sessionmessage_sender_id_fd2ed8d8" ON "mentalhealth_sessionmessage" ("sender_id");
CREATE INDEX "mentalhealth_sessionmessage_session_id_26d36977" ON "mentalhealth_sessionmessage" ("session_id");
CREATE UNIQUE INDEX "mentalhealth_sessionparticipant_session_id_user_id_f00c865c_uniq" ON "mentalhealth_sessionparticipant" ("session_id", "user_id");
CREATE INDEX "mentalhealth_sessionparticipant_session_id_d581f83b" ON "mentalhealth_sessionparticipant" ("session_id");
CREATE INDEX "mentalhealth_sessionparticipant_user_id_f021e1d7" ON "mentalhealth_sessionparticipant" ("user_id");
CREATE INDEX "mentalhealth_notification_user_id_22db40c4" ON "mentalhealth_notification" ("user_id");
